
#windChat{
	height:150px;
	overflow:auto;
}
ul{
	/*list-style-type:none; */
}

.intro{
	background:url("public/img/motif.png") repeat scroll 0 0 #27437B;
	height:20%;
	color:white;
	padding:10px;
	border-bottom: 3px solid #5A72A6;
	/*text-align:right;*/
}
.spacer{
	/*margin-right:50px;*/
	padding-right:10px;
	/*width:33%;*/
}

.imgText{
	float:left;
	margin:0 10px 5px 0;
}